{% extends "template.html" %}
{% load static %}

{% block title %}
	{{ presentacion.titulo }} - JJI-DMC {{ presentacion.edicion.curso|slice:"0:2" }}/{{ presentacion.edicion.curso|slice:"2:4" }}
{% endblock %}

{% block content %}
<!-- =========================
    PRESENTATION SECTION   
============================== -->
<section id="program" class="parallax-section">
	<div class="container return">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<a href="../{{ presentacion.edicion.curso }}" class="btn btn-lg btn-danger smoothScroll">VOLVER</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="wow col-md-12 col-sm-12">
				<div class="section-title">
					<h6>
						<span><i class="fa fa-clock-o"></i> {{ presentacion.hora_inicio }} - {{ presentacion.fecha }}</span>
					</h6>
					<h2>{{ presentacion.titulo }}</h2>
					<h4>{{ presentacion.autor }}</h4>
					<p>{{ presentacion.keywords }}</p>
				</div>
			</div>

			<div class="wow col-md-10 col-sm-10">
				{% for x in abstract %}
					<p>{{ x }}</p>
				{% endfor %}
			</div>
			
			{% if presentacion.pdf.url|length > 0 %}
			<div class="program-divider col-md-12 col-sm-12"></div>
			
			<div class="wow col-md-10 col-sm-10">
				<object data="{{ presentacion.pdf.url }}" type="application/pdf" width="100%" height="1000px">
					<p>No se puede mostrar el archivo PDF.
						<a href="{{ presentacion.pdf.url }}">
							Descargar.
						</a>
					</p>
				</object>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}
